* {
font-family: "Didot", serif;
background-color: black;
color: white;
text-align: center;
}

 .sussy *{
font-family: "Snell Roundhand", serif;
color: yellow;
text-align: center;
}

.supa {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    border: 10px solid purple;
    margin-bottom: 10px;
}


.supa:hover {
    background-color: palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2em;
    animation: infinite;
    font-weight: bolder;
    color: brown;
}

.notes * {
    color: coral;
    font-family: 'Times New Roman', Times, serif;
    font-weight: auto;
    font-size: 20px;
}

.notes:hover * {
    color: cadetblue;
    font-size: 200%;
}